<h1>New course</h1>

<%= render "form", course: @course %>

<br>

<div>
<% if current_user&& current_user.admin? %>
        
        
<%= link_to "Back to Admin page", :controller => 'admin',:action => 'class' %>
<%end%>
<% if current_user&& current_user.instructor? %>


<%= link_to "Back to Instructor page", :controller => 'instructor',:action => 'class' %>
<%end%>
<% if current_user&& current_user.students? %>

<%= link_to "Back to Student page", :controller => 'students',:action => 'class' %>
<%end%>
</div>
